body {
  margin: 0;
  padding: 0;
  font-family: Avenir;
  -webkit-font-smoothing: antialiased;
}

.sidebar {
  width: 15%;
  height: 100vh;
  position: fixed;
  background-color: #8981d8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar ul {
  margin-top: 40%;
  list-style: none;
  color: white;
  padding-left: 0;
}
.sidebar ul li {
  padding: 15px 0;
  font-weight: bold;
}
.sidebar ul li i {
  margin-right: 20px;
}
.deep {
  background: #6a61c0;
  height: 71px;
  width: 100%;
  position: absolute;
}
.header {
  width: 85%;
  height: 70px;
  border-bottom: 2px solid #efefef;
  float: right;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
i {
  font-size: 30px;
}
input {
  outline: none;
  height: 70%;
  padding: 0 45px;
  margin: 0 40px;
  width: 65%;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  border: 0;
}
.searchcon {
  position: absolute;
  left: 18%;
  color: #9a9a9a;
}

.user {
  margin-right: 20px;
  font-size: 17px;
}
.user a {
  text-decoration: none;
}
.container {
  width: 85%;
  float: right;
  background: #f9f9f9;
  min-height: 100vh;
}
.main {
  width: 90%;
  margin: 0 auto;
  padding: 50px 0;
}
.categories {
  list-style: none;
  display: flex;
}
.categories li {
  font-size: 18px;
  font-weight: bold;
  padding: 6px 10px;
  min-width: 70px;
  text-align: center;
  cursor: pointer;
  color: #616161;
}
.categories li:hover {
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  color: black;
}
.categories a {
  position: absolute;
  right: 5%;
  text-decoration: none;
}
.active {
  background: #6a61c0;
  color: white !important;
  border-radius: 4px;
}
.notes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 300px;
  grid-gap: 1em;
}
.note {
  background: #fff;
  box-shadow: 2px 3px 4px #efefef;
  cursor: pointer;
  border: 2px solid #efefefb3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.note .title {
  position: relative;
  top: 10px;
  width: 80%;
  font-size: 22px;
}
.note .content {
  padding: 0 20px;
  height: 80%;
  color: #504f4f;
  font-family: Nunito;
}
.note .date {
  color: darkgray;
  font-weight: bold;
}
.note:hover {
  transform: scale(1, 1.03);
  box-shadow: 6px 7px 6px #d3d3d3;
  transition: all 0.3s ease;
}

.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login input {
  width: 600px;
  height: 40px;
  padding: 2px 10px;
  margin: 20px 0;
  border: 1px solid #efefef;
}
.login label {
  width: 100px;
}
.login .btn {
  width: 110px;
  background: khaki;
  color: #ffffff;
  font-size: 22px;
  height: 45px;
  border: 0;
  cursor: pointer;
}
.login .signup {
  background: darkturquoise;
  margin-left: 15px;
}
.addnote {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.addnote input {
  width: 900px;
  border: 0 !important;
  border-bottom: 2px solid lightgray !important;
  padding: 2px 10px;
  margin: 20px 0;
  border: 1px solid #efefef;
  font-size: 30px;
  font-family: Nunito;
}
.addnote input:focus {
  border-bottom: 2px solid lightgreen !important;
  transition: all 0.3s;
}
.addnote .save {
  margin-top: 74px;
  height: 40px;
  width: 115px;
  border: 1px solid lightgreen !important;
  background: lightgreen;
  color: white;
  font-size: inherit;
}
.editor {
  margin: 0px;
  height: 588px;
  width: 879px;
  border: 1px solid #efefef;
  outline: none;
  padding: 20px;
  font-size: 17px;
  font-family: Source Code Pro;
}
.btnout {
  color: white;
  background: #6960c0;
  margin-left: 20px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}
.btnout:hover {
  transition: background 0.5s ease;
  background: darkmagenta;
}
.delete {
  align-self: flex-end;
  margin-right: 25px;
  margin-top: -50px;
  color: red;
}
